
@{
    ViewData["Title"] = "Homepage";
}
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/bootstrap.min.css" rel="stylesheet" />


<body>

    <div id="booking" class="section">
        <div class="logo">
            <div >
                <img src="/lib/Images/spacetrip-removebg-preview.png" height="70px" width="170px" alt="">

                <a asp-action="ViewUsers" class="btn btn-dark" >View Bookings</a>
     

            </div>
        </div>
        <div class="section-center">
            <div class="container">
                <div class="rows">
                    <div class="col-md-7 col-md-push-5">
                        <div class="booking-cta">
                            <h1>Take a walk in space</h1>
                            <p>
                                "Immerse yourself in your very own Journey to Space, a seven-part experience that
                                will take you on a quest to explore different aspects of life in space, investigate
                                the risks and challenges associated with deep space travel, and discover a future
                                where Earth is no longer the only planet humans call home."
                            </p>
                            <p class="bg-body text-center">
                                <a href="#form" style="text-decoration: none;">
                                    <a asp-action="Create" class="btn btn-default btn-transparent text-center">
                                        Apply
                                        Now
                                    </a>
                                </a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


